sigla-ws-client/src/main/resources/xsd/AnagrafePrestazioni_inserimentoIncarichi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:apii="http://com.accenture.perla.it/anagrafeprestazioni_inserimentoincarichi"
	 targetNamespace="http://com.accenture.perla.it/anagrafeprestazioni_inserimentoincarichi"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">

	<!--
		ELEMENTO ROOT
	-->
	<xs:element name="comunicazione" type="apii:comunicazione_type"/>

	<!--
		TIPO DI DATO PRINCIPALE
	-->
	<xs:complexType name="comunicazione_type">
		<xs:choice>
			<xs:element name="inserimentoIncarichi">
				<xs:complexType>
					<!--
						INCARICHI
					-->
					<xs:sequence>
						<xs:element name="nuoviIncarichi">
							<xs:complexType>
								<xs:choice>
									<xs:element name="dipendente" type="apii:dipendente_type" maxOccurs="1000"/>
									<xs:element name="consulente" type="apii:consulente_type" maxOccurs="1000"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>

					<!--
						INFORMAZIONI GENERALI 
					-->
					<xs:attribute name="codiceEnte" type="xs:long" use="required"/>
					<xs:attribute name="annoRiferimento" type="apii:annoRiferimento_type" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="esitoInserimentoIncarichi">
				<xs:complexType>
					<!--
						ESITO INCARICHI
					-->
					<xs:sequence>
						<xs:element name="esitoNuoviIncarichi">
							<xs:complexType>
								<xs:choice>
									<xs:element name="dipendente" type="apii:esitoDipendente_type" maxOccurs="1000"/>
									<xs:element name="consulente" type="apii:esitoConsulente_type" maxOccurs="1000"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>

					<!--
						INFORMAZIONI GENERALI 
					-->
					<xs:attribute name="codiceEnte" type="xs:long" use="required"/>
					<xs:attribute name="annoRiferimento" type="apii:annoRiferimento_type" use="required"/>
					<xs:attribute name="esitoFile" type="apii:esito_type" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>


	<!--
		TIPO DI DATO INCARICO PER DIPENDENTE
	-->
	<xs:complexType name="dipendente_type">
		<xs:sequence>
			<!--
				DATI INCARICATO
			-->
			<xs:element name="incaricato">
				<xs:complexType>
					<xs:attribute name="codiceFiscale" type="apii:codiceFiscale_type" use="required"/>
					<xs:attribute name="cognome" type="apii:cognome_type" use="required"/>
					<xs:attribute name="nome" type="apii:nome_type" use="required"/>
					<xs:attribute name="qualifica" type="apii:qualifica_type" use="required"/>
				</xs:complexType>
			</xs:element>

			<!--
				DATI SOGGETTO CONFERENTE
			-->
			<xs:element name="conferente">
				<xs:complexType>
					<xs:attribute name="tipologia" type="xs:positiveInteger" use="required"/>
					<xs:attribute name="codiceFiscale" type="apii:codiceFiscale_type" use="required"/>
					<xs:attribute name="denominazione" type="apii:denominazioneConferente_type" use="required"/>
				</xs:complexType>
			</xs:element>

			<!--
				DATI INCARICO
			-->
			<xs:element name="incarico">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="riferimentoNormativo" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="riferimento" type="xs:positiveInteger" use="required"/>
								<xs:attribute name="data" type="xs:date" use="required"/>
								<xs:attribute name="numero" type="apii:numeroRiferimentoNormativo_type" use="required"/>
								<xs:attribute name="articolo" type="apii:articoloRiferimentoNormativo_type" use="required"/>
								<xs:attribute name="comma" type="apii:commaRiferimentoNormativo_type" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>

					<xs:attribute name="tipologia" type="apii:tipologiaIncarico_type" use="required"/>
					<xs:attribute name="dataAutorizzazione" type="xs:date" use="required"/>
					<xs:attribute name="dataInizio" type="xs:date" use="required"/>
					<xs:attribute name="dataFine" type="xs:date" use="optional"/>
					<xs:attribute name="doveriUfficio" type="xs:positiveInteger" use="required"/>
					<xs:attribute name="incaricoSaldato" type="xs:positiveInteger" use="required"/>
					<xs:attribute name="tipoImporto" type="xs:positiveInteger" use="optional"/>
					<xs:attribute name="importo" type="apii:importoEuro_type" use="required"/>
					<xs:attribute name="note" type="apii:note_type" use="optional"/>
				</xs:complexType>
			</xs:element>

			<!--
				DATI PAGAMENTI
			-->
			<xs:element name="pagamenti" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nuovoPagamento" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="anno" type="xs:positiveInteger" use="required"/>
								<xs:attribute name="importo" type="apii:importoEuro_type" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>

		<xs:attribute name="idMittente" type="apii:idMittente_type" use="required" />
	</xs:complexType>
	<xs:complexType name="esitoDipendente_type">
		<xs:sequence>
			<xs:element name="errori" type="apii:erroriDipendente_type" minOccurs="0"/>
		</xs:sequence>

		<xs:attribute name="esito" type="apii:esito_type" use="required"/>
		<xs:attribute name="idMittente" type="apii:idMittente_type" use="required" />
		<xs:attribute name="id" type="xs:long" use="optional"/>
	</xs:complexType>
	<xs:complexType name="erroriDipendente_type">
		<xs:sequence>
			<!--
				DATI INCARICATO
			-->
			<xs:element name="incaricato" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="codiceFiscale" type="xs:string" use="optional"/>
					<xs:attribute name="cognome" type="xs:string" use="optional"/>
					<xs:attribute name="nome" type="xs:string" use="optional"/>
					<xs:attribute name="qualifica" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>

			<!--
				DATI SOGGETTO CONFERENTE
			-->
			<xs:element name="conferente" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="tipologia" type="xs:string" use="optional"/>
					<xs:attribute name="codiceFiscale" type="xs:string" use="optional"/>
					<xs:attribute name="denominazione" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>

			<!--
				DATI INCARICO
			-->
			<xs:element name="incarico" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="riferimentoNormativo" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="riferimento" type="xs:string" use="optional"/>
								<xs:attribute name="data" type="xs:string" use="optional"/>
								<xs:attribute name="numero" type="xs:string" use="optional"/>
								<xs:attribute name="articolo" type="xs:string" use="optional"/>
								<xs:attribute name="comma" type="xs:string" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>

					<xs:attribute name="tipologia" type="xs:string" use="optional"/>
					<xs:attribute name="dataAutorizzazione" type="xs:string" use="optional"/>
					<xs:attribute name="dataInizio" type="xs:string" use="optional"/>
					<xs:attribute name="dataFine" type="xs:string" use="optional"/>
					<xs:attribute name="doveriUfficio" type="xs:string" use="optional"/>
					<xs:attribute name="incaricoSaldato" type="xs:string" use="optional"/>
					<xs:attribute name="tipoImporto" type="xs:string" use="optional"/>
					<xs:attribute name="importo" type="xs:string" use="optional"/>
					<xs:attribute name="note" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>

			<!--
				DATI PAGAMENTI
			-->
			<xs:element name="pagamenti" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nuovoPagamento" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="anno" type="xs:string" use="optional"/>
								<xs:attribute name="importo" type="xs:string" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--
		TIPO DI DATO INCARICO PER CONSULENTE
	-->
	<xs:complexType name="consulente_type">
		<xs:sequence>
			<!--
				DATI INCARICATO
			-->
			<xs:element name="incaricato">
				<xs:complexType>
					<xs:choice>
						<xs:element name="personaFisica">
							<xs:complexType>
								<xs:attribute name="codiceFiscale" type="apii:codiceFiscale_type" use="required"/>
								<xs:attribute name="partitaIva" type="apii:partitaIva_type" use="optional"/>
								<xs:attribute name="cognome" type="apii:cognome_type" use="required"/>
								<xs:attribute name="nome" type="apii:nome_type" use="required"/>
								<xs:attribute name="estero" type="apii:yesNo_type" use="required"/>
								<xs:attribute name="sesso" type="apii:sesso_type" use="optional"/>
								<xs:attribute name="dataNascita" type="xs:date" use="optional"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="personaGiuridica">
							<xs:complexType>
								<xs:attribute name="codiceFiscale" type="apii:partitaIva_type" use="required"/>
								<xs:attribute name="partitaIva" type="apii:partitaIva_type" use="optional"/>
								<xs:attribute name="denominazione" type="apii:denominazioneAzienda_type" use="required"/>
								<xs:attribute name="estero" type="apii:yesNo_type" use="required"/>
								<xs:attribute name="tipologiaAzienda" type="xs:positiveInteger" use="required"/>
								<xs:attribute name="codiceComuneSede" type="apii:codiceComuneSede_type" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>

			<!--
				DATI INCARICO
			-->
			<xs:element name="incarico">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="riferimentoNormativo" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="riferimento" type="xs:positiveInteger" use="required"/>
								<xs:attribute name="data" type="xs:date" use="required"/>
								<xs:attribute name="numero" type="apii:numeroRiferimentoNormativo_type" use="required"/>
								<xs:attribute name="articolo" type="apii:articoloRiferimentoNormativo_type" use="required"/>
								<xs:attribute name="comma" type="apii:commaRiferimentoNormativo_type" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>

					<xs:attribute name="semestreRiferimento" type="apii:semestreRiferimento_type" use="required"/>
					<xs:attribute name="modalitaAcquisizione" type="apii:modalitaAcquisizione_type" use="required"/>
					<xs:attribute name="tipoRapporto" type="apii:tipoRapporto_type" use="required"/>
					<xs:attribute name="attivitaEconomica" type="apii:attivitaEconomica_type" use="required"/>
					<xs:attribute name="descrizioneIncarico" type="apii:descrizioneIncarico_type" use="required"/>
					<xs:attribute name="riferimentoRegolamento" type="apii:yesNo_type" use="required"/>
					<xs:attribute name="dataAffidamento" type="xs:date" use="required"/>
					<xs:attribute name="dataInizio" type="xs:date" use="required"/>
					<xs:attribute name="dataFine" type="xs:date" use="optional"/>
					<xs:attribute name="incaricoSaldato" type="xs:positiveInteger" use="required"/>
					<xs:attribute name="tipoImporto" type="xs:positiveInteger" use="optional"/>
					<xs:attribute name="importo" type="apii:importoEuro_type" use="required"/>
					<xs:attribute name="note" type="apii:note_type" use="optional"/>
				</xs:complexType>
			</xs:element>

			<!--
				DATI PAGAMENTI
			-->
			<xs:element name="pagamenti" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nuovoPagamento" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="anno" type="xs:positiveInteger" use="required"/>
								<xs:attribute name="semestre" type="apii:semestreRiferimento_type" use="required"/>
								<xs:attribute name="importo" type="apii:importoEuro_type" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>

		<xs:attribute name="idMittente" type="apii:idMittente_type" use="required" />
	</xs:complexType>
	<xs:complexType name="esitoConsulente_type">
		<xs:sequence>
			<xs:element name="errori" type="apii:erroriConsulente_type" minOccurs="0"/>
		</xs:sequence>

		<xs:attribute name="esito" type="apii:esito_type" use="required"/>
		<xs:attribute name="idMittente" type="apii:idMittente_type" use="required" />
		<xs:attribute name="id" type="xs:long" use="optional"/>
	</xs:complexType>
	<xs:complexType name="erroriConsulente_type">
		<xs:sequence>
			<!--
				DATI INCARICATO
			-->
			<xs:element name="incaricato" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element name="personaFisica" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="codiceFiscale" type="xs:string" use="optional"/>
								<xs:attribute name="partitaIva" type="xs:string" use="optional"/>
								<xs:attribute name="cognome" type="xs:string" use="optional"/>
								<xs:attribute name="nome" type="xs:string" use="optional"/>
								<xs:attribute name="estero" type="xs:string" use="optional"/>
								<xs:attribute name="sesso" type="xs:string" use="optional"/>
								<xs:attribute name="dataNascita" type="xs:string" use="optional"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="personaGiuridica" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="codiceFiscale" type="xs:string" use="optional"/>
								<xs:attribute name="partitaIva" type="xs:string" use="optional"/>
								<xs:attribute name="denominazione" type="xs:string" use="optional"/>
								<xs:attribute name="estero" type="xs:string" use="optional"/>
								<xs:attribute name="tipologiaAzienda" type="xs:string" use="optional"/>
								<xs:attribute name="codiceComuneSede" type="xs:string" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>

			<!--
				DATI INCARICO
			-->
			<xs:element name="incarico" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="riferimentoNormativo" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="riferimento" type="xs:string" use="optional"/>
								<xs:attribute name="data" type="xs:string" use="optional"/>
								<xs:attribute name="numero" type="xs:string" use="optional"/>
								<xs:attribute name="articolo" type="xs:string" use="optional"/>
								<xs:attribute name="comma" type="xs:string" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>

					<xs:attribute name="semestreRiferimento" type="xs:string" use="optional"/>
					<xs:attribute name="modalitaAcquisizione" type="xs:string" use="optional"/>
					<xs:attribute name="tipoRapporto" type="xs:string" use="optional"/>
					<xs:attribute name="attivitaEconomica" type="xs:string" use="optional"/>
					<xs:attribute name="descrizioneIncarico" type="xs:string" use="optional"/>
					<xs:attribute name="riferimentoRegolamento" type="xs:string" use="optional"/>
					<xs:attribute name="dataAffidamento" type="xs:string" use="optional"/>
					<xs:attribute name="dataInizio" type="xs:string" use="optional"/>
					<xs:attribute name="dataFine" type="xs:string" use="optional"/>
					<xs:attribute name="incaricoSaldato" type="xs:string" use="optional"/>
					<xs:attribute name="tipoImporto" type="xs:string" use="optional"/>
					<xs:attribute name="importo" type="xs:string" use="optional"/>
					<xs:attribute name="note" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>

			<!--
				DATI PAGAMENTI
			-->
			<xs:element name="pagamenti" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nuovoPagamento" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="anno" type="xs:string" use="optional"/>
								<xs:attribute name="semestre" type="xs:string" use="optional"/>
								<xs:attribute name="importo" type="xs:string" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<!--
		*********************
		***** TIPI BASE *****
		*********************
	-->
	<xs:simpleType name="idMittente_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="esito_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK" />
			<xs:enumeration value="KO" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codiceFiscale_type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="partitaIva_type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cognome_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nome_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="denominazioneAzienda_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sesso_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="M" />
			<xs:enumeration value="F" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="qualifica_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="6"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="modalitaAcquisizione_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoRapporto_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipologiaIncarico_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codiceComuneSede_type">
			<xs:restriction base="xs:string">
				<xs:length value="4"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="yesNo_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="denominazioneConferente_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="annoRiferimento_type">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="2004"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="semestreRiferimento_type">
		<xs:restriction base="xs:positiveInteger">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="attivitaEconomica_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="6"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="descrizioneIncarico_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="importoEuro_type">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="note_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="500"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numeroRiferimentoNormativo_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="articoloRiferimentoNormativo_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="commaRiferimentoNormativo_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
	</xs:simpleType>
</xs:schema>