sigla-ws-client/src/main/resources/xsd/AnagrafePrestazioni_variazioneIncarichi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:apvi="http://com.accenture.perla.it/anagrafeprestazioni_variazioneincarichi"
	 targetNamespace="http://com.accenture.perla.it/anagrafeprestazioni_variazioneincarichi"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">

	<!--
		ELEMENTO ROOT
	-->
	<xs:element name="comunicazione" type="apvi:comunicazione_type"/>

	<!--
		TIPO DI DATO PRINCIPALE
	-->
	<xs:complexType name="comunicazione_type">
		<xs:choice>
			<xs:element name="variazioneIncarichi">
				<xs:complexType>
					<!--
						INCARICHI
					-->
					<xs:sequence>
						<xs:element name="modificaIncarichi">
							<xs:complexType>
								<xs:choice>
									<xs:element name="dipendente" type="apvi:dipendente_type" maxOccurs="1000"/>
									<xs:element name="consulente" type="apvi:consulente_type" maxOccurs="1000"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>

					<!--
						INFORMAZIONI GENERALI 
					-->
					<xs:attribute name="codiceEnte" type="xs:long" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="esitoVariazioneIncarichi">
				<xs:complexType>
					<!--
						ESITO INCARICHI
					-->
					<xs:sequence>
						<xs:element name="esitoModificaIncarichi">
							<xs:complexType>
								<xs:choice>
									<xs:element name="dipendente" type="apvi:esitoDipendente_type" maxOccurs="1000"/>
									<xs:element name="consulente" type="apvi:esitoConsulente_type" maxOccurs="1000"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>

					<!--
						INFORMAZIONI GENERALI 
					-->
					<xs:attribute name="codiceEnte" type="xs:long" use="required"/>
					<xs:attribute name="esitoFile" type="apvi:esito_type" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>


	<!--
		TIPO DI DATO INCARICO PER DIPENDENTE
	-->
	<xs:complexType name="dipendente_type">
		<xs:sequence>
			<!--
				DATI INCARICATO
			-->
			<xs:element name="incaricato" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="qualifica" type="apvi:qualifica_type" use="optional"/>
				</xs:complexType>
			</xs:element>

			<!--
				DATI SOGGETTO CONFERENTE
			-->
			<xs:element name="conferente" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="tipologia" type="xs:positiveInteger" use="optional"/>
					<xs:attribute name="codiceFiscale" type="apvi:codiceFiscale_type" use="optional"/>
					<xs:attribute name="denominazione" type="apvi:denominazioneConferente_type" use="optional"/>
				</xs:complexType>
			</xs:element>

			<!--
				DATI INCARICO
			-->
			<xs:element name="incarico">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="riferimentoNormativo" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="riferimento" type="xs:positiveInteger" use="optional"/>
								<xs:attribute name="data" type="xs:date" use="optional"/>
								<xs:attribute name="numero" type="apvi:numeroRiferimentoNormativo_type" use="optional"/>
								<xs:attribute name="articolo" type="apvi:articoloRiferimentoNormativo_type" use="optional"/>
								<xs:attribute name="comma" type="apvi:commaRiferimentoNormativo_type" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>

					<xs:attribute name="id" type="xs:long" use="required"/>
					<xs:attribute name="tipologia" type="apvi:tipologiaIncarico_type" use="optional"/>
					<xs:attribute name="dataAutorizzazione" type="xs:date" use="optional"/>
					<xs:attribute name="dataFine" type="xs:date" use="optional"/>
					<xs:attribute name="incaricoSaldato" type="xs:positiveInteger" use="optional"/>
					<xs:attribute name="tipoImporto" type="xs:positiveInteger" use="optional"/>
					<xs:attribute name="importo" type="apvi:importoEuro_type" use="optional"/>
					<xs:attribute name="note" type="apvi:note_type" use="optional"/>
				</xs:complexType>
			</xs:element>

			<!--
				DATI PAGAMENTI
			-->
			<xs:element name="pagamenti" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nuovoPagamento" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="anno" type="xs:positiveInteger" use="required"/>
								<xs:attribute name="importo" type="apvi:importoEuro_type" use="required"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="modificaPagamento" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="anno" type="xs:positiveInteger" use="required"/>
								<xs:attribute name="importo" type="apvi:importoEuro_type" use="required"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="cancellaPagamento" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="anno" type="xs:positiveInteger" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>

		<xs:attribute name="idMittente" type="apvi:idMittente_type" use="required" />
	</xs:complexType>
	<xs:complexType name="esitoDipendente_type">
		<xs:sequence>
			<xs:element name="errori" type="apvi:erroriDipendente_type" minOccurs="0"/>
		</xs:sequence>

		<xs:attribute name="esito" type="apvi:esito_type" use="required"/>
		<xs:attribute name="idMittente" type="apvi:idMittente_type" use="required" />
		<xs:attribute name="id" type="xs:long" use="required"/>
	</xs:complexType>
	<xs:complexType name="erroriDipendente_type">
		<xs:sequence>
			<!--
				DATI INCARICATO
			-->
			<xs:element name="incaricato" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="qualifica" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>

			<!--
				DATI SOGGETTO CONFERENTE
			-->
			<xs:element name="conferente" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="tipologia" type="xs:string" use="optional"/>
					<xs:attribute name="codiceFiscale" type="xs:string" use="optional"/>
					<xs:attribute name="denominazione" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>

			<!--
				DATI INCARICO
			-->
			<xs:element name="incarico" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="riferimentoNormativo" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="riferimento" type="xs:string" use="optional"/>
								<xs:attribute name="data" type="xs:string" use="optional"/>
								<xs:attribute name="numero" type="xs:string" use="optional"/>
								<xs:attribute name="articolo" type="xs:string" use="optional"/>
								<xs:attribute name="comma" type="xs:string" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>

					<xs:attribute name="tipologia" type="xs:string" use="optional"/>
					<xs:attribute name="dataAutorizzazione" type="xs:string" use="optional"/>
					<xs:attribute name="dataFine" type="xs:string" use="optional"/>
					<xs:attribute name="incaricoSaldato" type="xs:string" use="optional"/>
					<xs:attribute name="tipoImporto" type="xs:string" use="optional"/>
					<xs:attribute name="importo" type="xs:string" use="optional"/>
					<xs:attribute name="note" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>

			<!--
				DATI PAGAMENTI
			-->
			<xs:element name="pagamenti" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nuovoPagamento" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="anno" type="xs:string" use="optional"/>
								<xs:attribute name="importo" type="xs:string" use="optional"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="modificaPagamento" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="anno" type="xs:string" use="optional"/>
								<xs:attribute name="importo" type="xs:string" use="optional"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="cancellaPagamento" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="anno" type="xs:string" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--
		TIPO DI DATO INCARICO PER CONSULENTE
	-->
	<xs:complexType name="consulente_type">
		<xs:sequence>

			<!--
				DATI INCARICO
			-->
			<xs:element name="incarico">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="riferimentoNormativo" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="riferimento" type="xs:positiveInteger" use="optional"/>
								<xs:attribute name="data" type="xs:date" use="optional"/>
								<xs:attribute name="numero" type="apvi:numeroRiferimentoNormativo_type" use="optional"/>
								<xs:attribute name="articolo" type="apvi:articoloRiferimentoNormativo_type" use="optional"/>
								<xs:attribute name="comma" type="apvi:commaRiferimentoNormativo_type" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>

					<xs:attribute name="id" type="xs:long" use="required"/>
					<xs:attribute name="modalitaAcquisizione" type="apvi:modalitaAcquisizione_type" use="optional"/>
					<xs:attribute name="tipoRapporto" type="apvi:tipoRapporto_type" use="optional"/>
					<xs:attribute name="attivitaEconomica" type="apvi:attivitaEconomica_type" use="optional"/>
					<xs:attribute name="descrizioneIncarico" type="apvi:descrizioneIncarico_type" use="optional"/>
					<xs:attribute name="riferimentoRegolamento" type="apvi:yesNo_type" use="optional"/>
					<xs:attribute name="dataFine" type="xs:date" use="optional"/>
					<xs:attribute name="incaricoSaldato" type="xs:positiveInteger" use="optional"/>
					<xs:attribute name="tipoImporto" type="xs:positiveInteger" use="optional"/>
					<xs:attribute name="importo" type="apvi:importoEuro_type" use="optional"/>
					<xs:attribute name="note" type="apvi:note_type" use="optional"/>
				</xs:complexType>
			</xs:element>

			<!--
				DATI PAGAMENTI
			-->
			<xs:element name="pagamenti" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nuovoPagamento" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="anno" type="xs:positiveInteger" use="required"/>
								<xs:attribute name="semestre" type="apvi:semestreRiferimento_type" use="required"/>
								<xs:attribute name="importo" type="apvi:importoEuro_type" use="required"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="modificaPagamento" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="anno" type="xs:positiveInteger" use="required"/>
								<xs:attribute name="semestre" type="apvi:semestreRiferimento_type" use="required"/>
								<xs:attribute name="importo" type="apvi:importoEuro_type" use="required"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="cancellaPagamento" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="anno" type="xs:positiveInteger" use="required"/>
								<xs:attribute name="semestre" type="apvi:semestreRiferimento_type" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>

		<xs:attribute name="idMittente" type="apvi:idMittente_type" use="required" />
	</xs:complexType>
	<xs:complexType name="esitoConsulente_type">
		<xs:sequence>
			<xs:element name="errori" type="apvi:erroriConsulente_type" minOccurs="0"/>
		</xs:sequence>

		<xs:attribute name="esito" type="apvi:esito_type" use="required"/>
		<xs:attribute name="idMittente" type="apvi:idMittente_type" use="required" />
		<xs:attribute name="id" type="xs:long" use="required"/>
	</xs:complexType>
	<xs:complexType name="erroriConsulente_type">
		<xs:sequence>
			<!--
				DATI INCARICO
			-->
			<xs:element name="incarico" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="riferimentoNormativo" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="riferimento" type="xs:string" use="optional"/>
								<xs:attribute name="data" type="xs:string" use="optional"/>
								<xs:attribute name="numero" type="xs:string" use="optional"/>
								<xs:attribute name="articolo" type="xs:string" use="optional"/>
								<xs:attribute name="comma" type="xs:string" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>

					<xs:attribute name="modalitaAcquisizione" type="xs:string" use="optional"/>
					<xs:attribute name="tipoRapporto" type="xs:string" use="optional"/>
					<xs:attribute name="attivitaEconomica" type="xs:string" use="optional"/>
					<xs:attribute name="descrizioneIncarico" type="xs:string" use="optional"/>
					<xs:attribute name="riferimentoRegolamento" type="xs:string" use="optional"/>
					<xs:attribute name="dataFine" type="xs:string" use="optional"/>
					<xs:attribute name="incaricoSaldato" type="xs:string" use="optional"/>
					<xs:attribute name="tipoImporto" type="xs:string" use="optional"/>
					<xs:attribute name="importo" type="xs:string" use="optional"/>
					<xs:attribute name="note" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>

			<!--
				DATI PAGAMENTI
			-->
			<xs:element name="pagamenti" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nuovoPagamento" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="anno" type="xs:string" use="optional"/>
								<xs:attribute name="semestre" type="xs:string" use="optional"/>
								<xs:attribute name="importo" type="xs:string" use="optional"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="modificaPagamento" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="anno" type="xs:string" use="optional"/>
								<xs:attribute name="semestre" type="xs:string" use="optional"/>
								<xs:attribute name="importo" type="xs:string" use="optional"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="cancellaPagamento" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="anno" type="xs:string" use="optional"/>
								<xs:attribute name="semestre" type="xs:string" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<!--
		*********************
		***** TIPI BASE *****
		*********************
	-->
	<xs:simpleType name="idMittente_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="esito_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK" />
			<xs:enumeration value="KO" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codiceFiscale_type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="partitaIva_type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cognome_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nome_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="denominazioneAzienda_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sesso_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="M" />
			<xs:enumeration value="F" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="qualifica_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="6"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="modalitaAcquisizione_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipoRapporto_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tipologiaIncarico_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codiceComuneSede_type">
			<xs:restriction base="xs:string">
				<xs:length value="4"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="yesNo_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="denominazioneConferente_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="semestreRiferimento_type">
		<xs:restriction base="xs:positiveInteger">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="attivitaEconomica_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="6"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="descrizioneIncarico_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="importoEuro_type">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:minExclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="note_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="500"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numeroRiferimentoNormativo_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="articoloRiferimentoNormativo_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="commaRiferimentoNormativo_type">
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
	</xs:simpleType>
</xs:schema>