sigla-ws-client/src/main/resources/wsdl/TrasmissioneFattureWS2.wsdl

<definitions name='TrasmissioneFattureWSService' targetNamespace='http://www.fatturapa.gov.it/sdi/ws/trasmissione/v1.0' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://www.fatturapa.gov.it/sdi/ws/trasmissione/v1.0/types' xmlns:ns2='http://www.fatturapa.gov.it/sdi/ws/trasmissione/v1.0' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://comp.docamm00.contab.cnr.it/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://www.fatturapa.gov.it/sdi/ws/trasmissione/v1.0/types' version='1.0' xmlns:tns='http://www.fatturapa.gov.it/sdi/ws/trasmissione/v1.0/types' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='attestazioneTrasmissioneFattura' nillable='true' type='tns:fileSdI_Type'/>
   <xs:element name='notificaDecorrenzaTermini' nillable='true' type='tns:fileSdI_Type'/>
   <xs:element name='notificaEsito' nillable='true' type='tns:fileSdI_Type'/>
   <xs:element name='notificaMancataConsegna' nillable='true' type='tns:fileSdI_Type'/>
   <xs:element name='notificaScarto' nillable='true' type='tns:fileSdI_Type'/>
   <xs:element name='ricevutaConsegna' nillable='true' type='tns:fileSdI_Type'/>
   <xs:complexType name='fileSdI_Type'>
    <xs:sequence>
     <xs:element name='IdentificativoSdI' type='xs:integer'/>
     <xs:element name='NomeFile' type='xs:string'/>
     <xs:element name='File' ns1:expectedContentTypes='*/*' type='xs:base64Binary' xmlns:ns1='http://www.w3.org/2005/05/xmlmime'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='TrasmissioneFatture_NotificaMancataConsegna'>
  <part element='ns1:notificaMancataConsegna' name='mancataConsegna'></part>
 </message>
 <message name='TrasmissioneFatture_RicevutaConsegna'>
  <part element='ns1:ricevutaConsegna' name='ricevuta'></part>
 </message>
 <message name='TrasmissioneFatture_NotificaEsito'>
  <part element='ns1:notificaEsito' name='esito'></part>
 </message>
 <message name='TrasmissioneFatture_AttestazioneTrasmissioneFattura'>
  <part element='ns1:attestazioneTrasmissioneFattura' name='attestazioneTrasmissioneFattura'></part>
 </message>
 <message name='TrasmissioneFatture_NotificaScarto'>
  <part element='ns1:notificaScarto' name='scarto'></part>
 </message>
 <message name='TrasmissioneFatture_NotificaDecorrenzaTermini'>
  <part element='ns1:notificaDecorrenzaTermini' name='decorrenzaTermini'></part>
 </message>
 <portType name='TrasmissioneFatture'>
  <operation name='AttestazioneTrasmissioneFattura'>
   <input message='ns2:TrasmissioneFatture_AttestazioneTrasmissioneFattura'></input>
  </operation>
  <operation name='NotificaDecorrenzaTermini'>
   <input message='ns2:TrasmissioneFatture_NotificaDecorrenzaTermini'></input>
  </operation>
  <operation name='NotificaEsito'>
   <input message='ns2:TrasmissioneFatture_NotificaEsito'></input>
  </operation>
  <operation name='NotificaMancataConsegna'>
   <input message='ns2:TrasmissioneFatture_NotificaMancataConsegna'></input>
  </operation>
  <operation name='NotificaScarto'>
   <input message='ns2:TrasmissioneFatture_NotificaScarto'></input>
  </operation>
  <operation name='RicevutaConsegna'>
   <input message='ns2:TrasmissioneFatture_RicevutaConsegna'></input>
  </operation>
 </portType>
 <binding name='TrasmissioneFattureBinding' type='ns2:TrasmissioneFatture'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='AttestazioneTrasmissioneFattura'>
   <soap:operation soapAction='http://www.fatturapa.it/TrasmissioneFatture/AttestazioneTrasmissioneFattura'/>
   <input>
    <soap:body use='literal'/>
   </input>
  </operation>
  <operation name='NotificaDecorrenzaTermini'>
   <soap:operation soapAction='http://www.fatturapa.it/TrasmissioneFatture/NotificaDecorrenzaTermini'/>
   <input>
    <soap:body use='literal'/>
   </input>
  </operation>
  <operation name='NotificaEsito'>
   <soap:operation soapAction='http://www.fatturapa.it/TrasmissioneFatture/NotificaEsito'/>
   <input>
    <soap:body use='literal'/>
   </input>
  </operation>
  <operation name='NotificaMancataConsegna'>
   <soap:operation soapAction='http://www.fatturapa.it/TrasmissioneFatture/NotificaMancataConsegna'/>
   <input>
    <soap:body use='literal'/>
   </input>
  </operation>
  <operation name='NotificaScarto'>
   <soap:operation soapAction='http://www.fatturapa.it/TrasmissioneFatture/NotificaScarto'/>
   <input>
    <soap:body use='literal'/>
   </input>
  </operation>
  <operation name='RicevutaConsegna'>
   <soap:operation soapAction='http://www.fatturapa.it/TrasmissioneFatture/RicevutaConsegna'/>
   <input>
    <soap:body use='literal'/>
   </input>
  </operation>
 </binding>
</definitions>