sigla-web/src/main/webapp/schema/ORDINATIVI_3.02.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2019  Consiglio Nazionale delle Ricerche
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!-- SCHEMA ORDINATIVI 3.02  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="OnlyNumMax7">
		<xs:annotation>
			<xs:documentation>Solo numeri lunghezza massima 7</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="9999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OnlyNumMax18">
		<xs:annotation>
			<xs:documentation>Solo numeri lunghezza massima 7</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="anyTAG" mixed="true">
		<xs:annotation>
			<xs:documentation>struttura XML ente</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:sequence>
					<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="bilancio">
		<xs:annotation>
			<xs:documentation>struttura bilancio</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="codifica_bilancio">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="9999999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="descrizione_codifica" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="gestione">
				<xs:annotation>
					<xs:documentation>Può assumere i valori:
RESIDUO
COMPETENZA</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="RESIDUO"/>
						<xs:enumeration value="COMPETENZA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="anno_residuo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>da valorizzare nel caso di gestione RESIDUO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:minInclusive value="1980"/>
						<xs:maxInclusive value="2099"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numero_articolo" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:pattern value="[0-9]{1,3}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="voce_economica" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:pattern value="[0-9]{1,3}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="importo_bilancio">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
						<xs:minInclusive value="0.01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="informazioni_aggiuntive">
		<xs:annotation>
			<xs:documentation>struttura informazioni aggiuntive</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="lingua" default="ITALIANO" minOccurs="0">
				<xs:annotation>
					<xs:documentation>può assumere i valori:
ITALIANO
TEDESCO</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
						<xs:enumeration value="ITALIANO"/>
						<xs:enumeration value="TEDESCO"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="riferimento_documento_esterno" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sostituzione_mandato">
		<xs:annotation>
			<xs:documentation>Da utilizzare con il tipo_operazione SOSTITUZIONE</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="numero_mandato_da_sostituire" type="OnlyNumMax7"/>
			<xs:element name="progressivo_beneficiario_da_sostituire">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="esercizio_mandato_da_sostituire">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:minInclusive value="1999"/>
						<xs:maxInclusive value="2099"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sostituzione_reversale">
		<xs:annotation>
			<xs:documentation>Da utilizzare con il tipo_operazione SOSTITUZIONE</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="numero_reversale_da_sostituire" type="OnlyNumMax7"/>
			<xs:element name="progressivo_versante_da_sostituire" type="OnlyNumMax7"/>
			<xs:element name="esercizio_reversale_da_sostituire">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:minInclusive value="1999"/>
						<xs:maxInclusive value="2099"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="reversale">
		<xs:annotation>
			<xs:documentation>struttura reversale</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tipo_operazione">
				<xs:annotation>
					<xs:documentation>può assumere i valori:
INSERIMENTO
VARIAZIONE
ANNULLO
SOSTITUZIONE</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INSERIMENTO"/>
						<xs:enumeration value="VARIAZIONE"/>
						<xs:enumeration value="ANNULLO"/>
						<xs:enumeration value="SOSTITUZIONE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numero_reversale" type="OnlyNumMax7"/>
			<xs:element name="data_reversale">
				<xs:simpleType>
					<xs:restriction base="xs:date"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="importo_reversale">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
						<xs:minInclusive value="0.01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="conto_evidenza" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="bilancio" type="bilancio" minOccurs="0" maxOccurs="10"/>
			<xs:element name="informazioni_versante" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="progressivo_versante" type="OnlyNumMax7">
							<xs:annotation>
								<xs:documentation>numero progressivo dei versanti all'interno dello stesso ordinativo</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="importo_versante">
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="15"/>
									<xs:fractionDigits value="2"/>
									<xs:minInclusive value="0.01"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="tipo_riscossione">
							<xs:annotation>
								<xs:documentation>può assumere i valori:
CASSA
ACCREDITO BANCA D'ITALIA
REGOLARIZZAZIONE
REGOLARIZZAZIONE ACCREDITO BANCA D'ITALIA
PRELIEVO DA CC POSTALE
COMPENSAZIONE</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="CASSA"/>
									<xs:enumeration value="ACCREDITO BANCA D'ITALIA"/>
									<xs:enumeration value="REGOLARIZZAZIONE"/>
									<xs:enumeration value="REGOLARIZZAZIONE ACCREDITO BANCA D'ITALIA"/>
									<xs:enumeration value="PRELIEVO DA CC POSTALE"/>
									<xs:enumeration value="COMPENSAZIONE"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="numero_ccp" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Contiene il numero del conto corrente postale, da utilizzare con il tipo_riscossione="PRELIEVO DA CC POSTALE"</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:nonNegativeInteger"/>
							</xs:simpleType>
						</xs:element>
						<xs:element name="tipo_entrata" minOccurs="0">
							<xs:annotation>
								<xs:documentation>può assumere i valori FRUTTIFERO
INFRUTTIFERO</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="FRUTTIFERO"/>
									<xs:enumeration value="INFRUTTIFERO"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="destinazione" minOccurs="0">
							<xs:annotation>
								<xs:documentation>LIBERA:ENTRATA LIBERA
VINCOLATA:ENTRATA VINCOLATA</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="LIBERA"/>
									<xs:enumeration value="VINCOLATA"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="classificazione" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="codice_cge">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="\d{4}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="importo">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="15"/>
												<xs:fractionDigits value="2"/>
												<xs:minInclusive value="0.01"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="bilancio" type="bilancio" minOccurs="0" maxOccurs="10"/>
						<xs:element name="bollo">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="assoggettamento_bollo">
										<xs:annotation>
											<xs:documentation>può assumere i valori:
ESENTE BOLLO
ASSOGGETTATO BOLLO A CARICO ENTE
ASSOGGETTATO BOLLO A CARICO VERSANTE</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="ESENTE BOLLO"/>
												<xs:enumeration value="ASSOGGETTATO BOLLO A CARICO ENTE"/>
												<xs:enumeration value="ASSOGGETTATO BOLLO A CARICO VERSANTE"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="causale_esenzione_bollo" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string"/>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="versante" type="versante"/>
						<xs:element name="causale">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="sospeso" minOccurs="0" maxOccurs="1000">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="numero_provvisorio" type="OnlyNumMax18"/>
									<xs:element name="importo_provvisorio">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="15"/>
												<xs:fractionDigits value="2"/>
												<xs:minInclusive value="0.01"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="mandato_associato" type="mandato_associato" minOccurs="0" maxOccurs="100"/>
						<xs:element name="informazioni_aggiuntive" type="informazioni_aggiuntive" minOccurs="0"/>
						<xs:element name="sostituzione_reversale" type="sostituzione_reversale" minOccurs="0"/>
						<xs:element name="dati_a_disposizione_ente_versante" type="anyTAG" minOccurs="0">
							<xs:annotation>
								<xs:documentation>TAG utilizzato per inserire informazioni utilizzate solamente dell'ente</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="num_sospeso_versante_univoco">
					<xs:selector xpath="sospeso"/>
					<xs:field xpath="numero_provvisorio"/>
				</xs:unique>
			</xs:element>
			<xs:element name="dati_a_disposizione_ente_reversale" type="anyTAG" minOccurs="0">
				<xs:annotation>
					<xs:documentation>TAG utilizzato per inserire informazioni utilizzate solamente dell'ente</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mandato">
		<xs:annotation>
			<xs:documentation>struttura mandato</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="tipo_operazione">
				<xs:annotation>
					<xs:documentation>può assumere i valori:
INSERIMENTO
VARIAZIONE
ANNULLO
SOSTITUZIONE</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INSERIMENTO"/>
						<xs:enumeration value="VARIAZIONE"/>
						<xs:enumeration value="ANNULLO"/>
						<xs:enumeration value="SOSTITUZIONE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numero_mandato" type="OnlyNumMax7"/>
			<xs:element name="data_mandato">
				<xs:simpleType>
					<xs:restriction base="xs:date"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="importo_mandato">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
						<xs:minInclusive value="0.01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="conto_evidenza" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="estremi_provvedimento_autorizzativo" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="responsabile_provvedimento" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ufficio_responsabile" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="bilancio" type="bilancio" minOccurs="0" maxOccurs="10"/>
			<xs:element name="funzionario_delegato" type="funzionario_delegato" minOccurs="0"/>
			<xs:element name="informazioni_beneficiario" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="progressivo_beneficiario" type="OnlyNumMax7">
							<xs:annotation>
								<xs:documentation>numero progressivo dei versanti all'interno dello stesso ordinativo</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="importo_beneficiario">
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:totalDigits value="15"/>
									<xs:fractionDigits value="2"/>
									<xs:minInclusive value="0.01"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="tipo_pagamento">
							<xs:annotation>
								<xs:documentation>Può assumere i valori:
CASSA
BONIFICO BANCARIO E POSTALE
SEPA CREDIT TRANSFER
ASSEGNO BANCARIO E POSTALE
ASSEGNO CIRCOLARE
ACCREDITO CONTO CORRENTE POSTALE
ACCREDITO TESORERIA PROVINCIALE STATO PER TAB A
ACCREDITO TESORERIA PROVINCIALE STATO PER TAB B
F24EP
VAGLIA POSTALE
VAGLIA TESORO
REGOLARIZZAZIONE
REGOLARIZZAZIONE ACCREDITO TESORERIA PROVINCIALE STATO PER TAB A
REGOLARIZZAZIONE ACCREDITO TESORERIA PROVINCIALE STATO PER TAB B
ADDEBITO PREAUTORIZZATO DISPOSIZIONE DOCUMENTO ESTERNO
COMPENSAZIONE</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="CASSA"/>
									<xs:enumeration value="BONIFICO BANCARIO E POSTALE"/>
									<xs:enumeration value="ASSEGNO BANCARIO E POSTALE"/>
									<xs:enumeration value="SEPA CREDIT TRANSFER"/>
									<xs:enumeration value="ASSEGNO CIRCOLARE"/>
									<xs:enumeration value="ACCREDITO CONTO CORRENTE POSTALE"/>
									<xs:enumeration value="ACCREDITO TESORERIA PROVINCIALE STATO PER TAB A"/>
									<xs:enumeration value="ACCREDITO TESORERIA PROVINCIALE STATO PER TAB B"/>
									<xs:enumeration value="F24EP"/>
									<xs:enumeration value="VAGLIA POSTALE"/>
									<xs:enumeration value="VAGLIA TESORO"/>
									<xs:enumeration value="REGOLARIZZAZIONE"/>
									<xs:enumeration value="REGOLARIZZAZIONE ACCREDITO TESORERIA PROVINCIALE STATO PER TAB A"/>
									<xs:enumeration value="REGOLARIZZAZIONE ACCREDITO TESORERIA PROVINCIALE STATO PER TAB B"/>
									<xs:enumeration value="ADDEBITO PREAUTORIZZATO"/>
									<xs:enumeration value="DISPOSIZIONE DOCUMENTO ESTERNO"/>
									<xs:enumeration value="COMPENSAZIONE"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="impignorabili" minOccurs="0">
							<xs:annotation>
								<xs:documentation>può assumere il valore SI</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
									<xs:pattern value="[S,s]{1}[I,i]{1}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="frazionabile" minOccurs="0">
							<xs:annotation>
								<xs:documentation>può assumere il valore NO</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
									<xs:pattern value="[N,n]{1}[O,o]{1}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="gestione_provvisoria" minOccurs="0">
							<xs:annotation>
								<xs:documentation>può assumere il valore SI</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
									<xs:pattern value="[S,s]{1}[I,i]{1}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="data_esecuzione_pagamento" type="xs:date" minOccurs="0"/>
						<xs:element name="data_scadenza_pagamento" type="xs:date" minOccurs="0"/>
						<xs:element name="destinazione" minOccurs="0">
							<xs:annotation>
								<xs:documentation>LIBERA: UTILIZZO SOMME LIBERE
VINCOLATA: UTILIZZO SOMME VINCOLATE</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="LIBERA"/>
									<xs:enumeration value="VINCOLATA"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="numero_conto_banca_italia_ente_ricevente" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Utilizzato per operazioni di "girofondo"</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="\d{1,7}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="tipo_contabilita_ente_ricevente" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Utilizzato per operazioni di "girofondo";  può assumere i valori:
FRUTTIFERA
INFRUTTIFERA</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="FRUTTIFERA"/>
									<xs:enumeration value="INFRUTTIFERA"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="classificazione" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="codice_cgu">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="\d{4}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="codice_cup" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="15"/>
												<xs:minLength value="15"/>
												<xs:pattern value="[A-Z|a-z||0-9|]{1,15}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="codice_cpv" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="\d{14}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="importo">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="15"/>
												<xs:fractionDigits value="2"/>
												<xs:minInclusive value="0.01"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="bilancio" type="bilancio" minOccurs="0" maxOccurs="10"/>
						<xs:element name="bollo">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="assoggettamento_bollo">
										<xs:annotation>
											<xs:documentation>può assumere i valori:
ESENTE BOLLO
ASSOGGETTATO BOLLO A CARICO ENTE
ASSOGGETTATO BOLLO A CARICO BENEFICIARIO</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="ESENTE BOLLO"/>
												<xs:enumeration value="ASSOGGETTATO BOLLO A CARICO ENTE"/>
												<xs:enumeration value="ASSOGGETTATO BOLLO A CARICO BENEFICIARIO"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="causale_esenzione_bollo" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string"/>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="spese" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="soggetto_destinatario_delle_spese">
										<xs:annotation>
											<xs:documentation>può assumere i valori
ESENTE
A CARICO ENTE
A CARICO BENEFICIARIO</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="A CARICO ENTE"/>
												<xs:enumeration value="A CARICO BENEFICIARIO"/>
												<xs:enumeration value="ESENTE"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="natura_pagamento" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="causale_esenzione_spese" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="beneficiario" type="beneficiario"/>
						<xs:element name="delegato" type="delegato" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>anagrafica soggetto autorizzato a rilasciare quietanza</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="creditore_effettivo" type="creditore_effettivo" minOccurs="0"/>
						<xs:element name="piazzatura" type="piazzatura" minOccurs="0"/>
						<xs:element name="sepa_credit_transfer" type="sepa_credit_transfer" minOccurs="0"/>
						<xs:element name="codice_versante" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Il codice versante contiene i dati per effettuare un bonifico Banca d'Italia con coordinate IBAN a favore dell'INPDAP. Deve essere valorizzato con i seguenti dati XXYYAAM1M2:
XX = identificativo della cassa su cui si stà versando
YY = identificativo della causale di versamento
AA = ultime due cifre dell'anno di riferimento
M1 = due cifre che indicano il mene "dal" di riferimento del versamento (es, 01 gen, 02 feb, ...)
M2 = due cifre che indicano il mene "al" di riferimento del versamento (es, 01 gen, 02 feb, ...)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="10"/>
									<xs:maxLength value="10"/>
									<xs:pattern value="[A-Z|a-z]{1}[|0-9]{9}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="causale">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="sospeso" minOccurs="0" maxOccurs="1000">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="numero_provvisorio" type="OnlyNumMax18"/>
									<xs:element name="importo_provvisorio">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="15"/>
												<xs:fractionDigits value="2"/>
												<xs:minInclusive value="0.01"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ritenute" type="ritenute" minOccurs="0" maxOccurs="30"/>
						<xs:element name="informazioni_aggiuntive" type="informazioni_aggiuntive" minOccurs="0"/>
						<xs:element name="sostituzione_mandato" type="sostituzione_mandato" minOccurs="0"/>
						<xs:element name="dati_a_disposizione_ente_beneficiario" type="anyTAG" minOccurs="0">
							<xs:annotation>
								<xs:documentation>TAG utilizzato per inserire informazioni utilizzate solamente dell'ente</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="num_sospeso_beneficiario_univoco">
					<xs:selector xpath="sospeso"/>
					<xs:field xpath="numero_provvisorio"/>
				</xs:unique>
			</xs:element>
			<xs:element name="dati_a_disposizione_ente_mandato" type="anyTAG" minOccurs="0">
				<xs:annotation>
					<xs:documentation>TAG utilizzato per inserire informazioni utilizzate solamente dell'ente</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="flusso_ordinativi">
		<xs:annotation>
			<xs:documentation>XML Flusso Ordinativi SEPA</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="codice_ABI_BT">
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="identificativo_flusso">
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="data_ora_creazione_flusso" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="codice_ente">
					<xs:annotation>
						<xs:documentation>codice alfanumerico che può contenere:
Codice ISTAT
Codice MIUR
Codice SIA
ecc.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="descrizione_ente">
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="codice_ente_BT">
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="riferimento_ente" minOccurs="0">
					<xs:annotation>
						<xs:documentation>codice concordato tra ente e banca</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="esercizio">
					<xs:simpleType>
						<xs:restriction base="xs:nonNegativeInteger">
							<xs:minInclusive value="1999"/>
							<xs:maxInclusive value="2099"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="reversale" type="reversale" minOccurs="0" maxOccurs="unbounded">
					<xs:unique name="num_progressivo_versante_univoco">
						<xs:selector xpath="informazioni_versante"/>
						<xs:field xpath="progressivo_versante"/>
					</xs:unique>
				</xs:element>
				<xs:element name="mandato" type="mandato" minOccurs="0" maxOccurs="unbounded">
					<xs:unique name="num_progressivo_beneficiario_univoco">
						<xs:selector xpath="informazioni_beneficiario"/>
						<xs:field xpath="progressivo_beneficiario"/>
					</xs:unique>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="num_mandato_univoco">
			<xs:selector xpath="mandato"/>
			<xs:field xpath="tipo_operazione"/>
			<xs:field xpath="numero_mandato"/>
		</xs:unique>
		<xs:unique name="num_reversale_univoco">
			<xs:selector xpath="reversale"/>
			<xs:field xpath="tipo_operazione"/>
			<xs:field xpath="numero_reversale"/>
		</xs:unique>
	</xs:element>
	<xs:complexType name="piazzatura">
		<xs:annotation>
			<xs:documentation>struttura piazzatura, da valorizzare nel caso il tipo_pagamento="BONIFICO BANCARIO E POSTALE"</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="abi_beneficiario" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="99999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cab_beneficiario" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="99999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numero_conto_corrente_beneficiario">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="12"/>
						<xs:pattern value="[0-9a-zA-Z,/, ,.,\-]{1,12}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="caratteri_controllo" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codice_cin" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codice_paese" default="IT" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
						<xs:pattern value="\c{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="denominazione_banca_destinataria" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sepa_credit_transfer">
		<xs:annotation>
			<xs:documentation>struttura SEPA Credit Transfer da valorizzare nel caso il tipo_pagamento="SEPA CREDIT TRANSFER"</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="iban">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="34"/>
						<xs:pattern value="[A-Z]{2}\d{2}[A-Z|0-9]{5,30}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="bic" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="8"/>
						<xs:maxLength value="11"/>
						<xs:pattern value="[A-Z|a-z||0-9]{11}"/>
						<xs:pattern value="[A-Z|a-z||0-9]{8}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="identificativo_end_to_end" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="identificativo_category_purpose" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element name="code">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="4"/>
									<xs:enumeration value="SALA"/>
									<xs:enumeration value="PENS"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="proprietary">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="35"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="creditore_effettivo">
		<xs:sequence>
			<xs:element name="anagrafica_creditore_effettivo">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="indirizzo_creditore_effettivo" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cap_creditore_effettivo" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="localita_creditore_effettivo" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="provincia_creditore_effettivo" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="stato_creditore_effettivo">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="2"/>
						<xs:pattern value="[A-Z]{2,2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="partita_iva_creditore_effettivo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>lunghezza 35 caratteri per SEPA</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codice_fiscale_creditore_effettivo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>lunghezza 35 caratteri per SEPA</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="funzionario_delegato">
		<xs:sequence>
			<xs:element name="codice_funzionario_delegato">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[A-Z|a-z||0-9]{16}"/>
						<xs:pattern value="[A-Z|a-z||0-9]{11}"/>
						<xs:pattern value="\d{1,7}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="importo_funzionario_delegato">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
						<xs:minInclusive value="0.01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tipologia_pagamento_funzionario_delegato">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numero_pagamento_funzionario_delegato">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="delegato">
		<xs:annotation>
			<xs:documentation>anagrafica soggetto autorizzato a rilasciare quietanza</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="anagrafica_delegato">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="indirizzo_delegato" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cap_delegato" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="16"/>
						<xs:pattern value="\d{5}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="localita_delegato" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="provincia_delegato" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="stato_delegato" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="2"/>
						<xs:pattern value="[A-Z]{2,2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codice_fiscale_delegato" minOccurs="0">
				<xs:annotation>
					<xs:documentation>lunghezza 35 caratteri per SEPA</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="beneficiario">
		<xs:sequence>
			<xs:element name="anagrafica_beneficiario">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="indirizzo_beneficiario" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cap_beneficiario" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="16"/>
						<xs:pattern value="\d{5}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="localita_beneficiario" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="provincia_beneficiario" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="stato_beneficiario" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="2"/>
						<xs:pattern value="[A-Z]{2,2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="partita_iva_beneficiario" minOccurs="0">
				<xs:annotation>
					<xs:documentation>lunghezza 35 caratteri per SEPA</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codice_fiscale_beneficiario" minOccurs="0">
				<xs:annotation>
					<xs:documentation>lunghezza 35 caratteri per SEPA</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="versante">
		<xs:sequence>
			<xs:element name="anagrafica_versante">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="indirizzo_versante" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cap_versante" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="16"/>
						<xs:pattern value="\d{5}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="localita_versante" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="provincia_versante" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="stato_versante" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="2"/>
						<xs:pattern value="[A-Z]{2,2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="partita_iva_versante" minOccurs="0">
				<xs:annotation>
					<xs:documentation>lunghezza 35 caratteri per SEPA</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="codice_fiscale_versante" minOccurs="0">
				<xs:annotation>
					<xs:documentation>lunghezza 35 caratteri per SEPA</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mandato_associato">
		<xs:sequence>
			<xs:element name="numero_mandato" type="OnlyNumMax7"/>
			<xs:element name="progressivo_beneficiario" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ritenute">
		<xs:sequence>
			<xs:element name="importo_ritenute">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15"/>
						<xs:fractionDigits value="2"/>
						<xs:minInclusive value="0.01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="numero_reversale" type="OnlyNumMax7" minOccurs="0"/>
			<xs:element name="progressivo_versante" type="OnlyNumMax7" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="note">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
</xs:schema>
